* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(66, 180, 167);
  background: -moz-linear-gradient(
    90deg,
    rgba(66, 180, 167, 1) 13%,
    rgba(46, 0, 253, 1) 74%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(66, 180, 167, 1) 13%,
    rgba(46, 0, 253, 1) 74%
  );
  background: linear-gradient(
    90deg,
    rgba(66, 180, 167, 1) 13%,
    rgba(46, 0, 253, 1) 74%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42b4a7",endColorstr="#2e00fd",GradientType=1);
  font-family: sans-serif;
}
section {
  width: 90%;
  height: auto;
  margin: 40px auto;
  flex-direction: column;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
section form input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid yellow;
  outline: none;
  background: black;
  color: white;
  font-size: 1rem;
}
@media screen and (width <= 500px) {
  section{
    height: 100vh;
    gap: 10px;
    margin: auto;
  }
  section form input{
    width: 320px;
  }
}
